<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>List categorias - Flask</title>
</head>

<body style="padding:20px">
    {% if cursor %}
    <table border="2px">
        <thead>
            <tr>
                <th>Supercategoria</th>
            </tr>
        </thead>
        <tbody>
            {% for record in cursor %}
            <tr>
                <td>{{ record[0] }}</td>
                <td>
                    <form action="subCats" method="post">
                        <input type="hidden" name="supercat1" value="{{ record[0] }}">
                        <input type="submit" value="Ver subcategorias" on_click="log_console({{ record[0] }})">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
     </table>
    {% endif %}
</body>

</html>